div.message-area{
    overflow-y: auto;
    div.message-area::-webkit-scrollbar{
    width: 5px;
    div.message-area::-webkit-scrollbar-track{
    background: #141922;
    div.message-area::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 3px solid rgba(211, 211, 211, 0.651);
    div.message-area::-webkit-scrollbar-thumb:hover

    background: #555;
}
}
}
}
}






